.container{
    /*background: silver;*/
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.block{
    width: 500px;
    height: 214px;
    background: #246abc;
    display: flex;
    row-gap: 10px;
    font-size: 30px;
    font-family: "Arial Unicode MS";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1%;

}
.block2{
    background: white;
    column-gap: 20px;
    justify-content: center;
    height: 200px;

}

.brick1{
    height: 200px;
    width: 33%;
    background: #18467b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}.brick2{
    height: 200px;
    width: 33%;
    background:#18467b;
     display: flex;
     justify-content: center;
     align-items: center;
    font-size: 20px;
}.brick3{
    height: 200px;
    width: 33%;
    background:#18467b;
      display: flex;
      justify-content: center;
      align-items: center;
    font-size: 20px;
}

 .brick{
     height: 200px;
     border-radius: 1%;
 }
.block3{
    height: 400px;
}
body{
    height: 100vh;
}