.wrap{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    /*background: silver;*/
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    align-content: center;
}
.block1{
    width: 92%;
    height: 40%;
    background:silver;
}
.block2{
    width: 63%;
    height: 60%;
    background:silver;
}
.block3{
    width: 27%;
    height: 60%;
    background:silver;
}
